@import url("https://fonts.googleapis.com/css2?family=Mostserrat:wght@600");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 2000px;
  font-family: "Mntserrat", sans-serif;
}
.header {
  position: relative;
  height: 100vh;
  background: url(images/one.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
header .logo-header {
  position: absolute;
  top: 4%;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: auto;
}

header .fore-bird {
  position: absolute;
  top: 199px;
  /* right: 400px; */
  right: 550px;
  width: 795px;
  height: 800px;
  background-image: url(images/scrollx_img.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 1;
}
.content {
  max-width: 1140px;
  margin: 0 auto;
  font-size: 20px;
}
@media (max-width: 772px) {
  header .fore-bird {
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center bottom;
  }
}

.color-white {
  color: white;
}
.flip-box {
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
  margin-top: 50px;
}
.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}
.flip-box-front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50px) translateZ(60px) scale(0.94);
  top: 20%;
}
.flip-box-header {
  font-size: 30px;
}
.flip-box p {
  font-size: 20px;
  line-height: 1.5rem;
}
.flip-box-img {
  margin-top: 25px;
}
.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
